h1{
	font-family: 'Shadows Into Light', cursive;
}
.x{
    text-align: center;
}
body{
    background-image: url(book.png);
    background-repeat: no-repeat;
    background-position: center;
}
img{
    width: 40px;
    height:40px;
       }