h1{
	font-family: 'Shadows Into Light', cursive;
        padding: 60px;
        font-size: 70px;
}

h2{
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

.x{
    text-align: center;
}
body{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

img{
    width: 40px;
    height:40px;
}

.cabeçalho{
    width: 100%;
    height: 200px;
    background: #A9A9A9; 
    text-align: center;   
}
.menu{
    width: 100%;
    height: 50px; 
    text-align: right;
}
li{
    padding: 20px;
    display: inline;
    list-style-type: none;
}
.menu li a{
    text-decoration: none;
    color: #000000;
    
}
.menu li a:hover{
    color:#494949;
 
}

.corpo{
    background-image: url(book.png);
    background-size: 1200px, 1000px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
    margin-top: -50px;  
}
.coluna{
    width: 450px;
    height: 1000px;
    display: inline-block;
     
}
#c1{
    position: absolute;
    top:450px;
    left:170px ;
}
#c2{
    position: absolute;
  top:450px;
  left:700px ;   
}

textarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;

}

.rodape{
    width: 100%;
    height: 150px;
    background: #A9A9A9;
}


footer{
    width: auto;
    height: auto;
}

.full {
    width: 100%;    
}

.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.pull-left{
    margin-top: 110px;
}

.pull-left1{
    margin-top: 10px;
}

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.dado {
    padding-top: 6px;
    text-align: center;
}
.payments {
    font-size: 1.5em;   
}

.footer-top {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-top p.dado {
    padding-top: 6px;
    text-align: center;
}
